.category-card {
  background-color: #212121;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  padding: 20px;
  aspect-ratio: 16/9;
}

.category-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #fafafa;
}

.category-card p {
  font-size: 1rem;
  color: #f1d5f3;
}

/* Hover Effect */
.category-card:hover {
  transform: scale(1.02);
  transition: 400ms ease-in-out;
  box-shadow: 0 6px 10px rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
